<!DOCTYPE html>
<html lang="en">

<head>
    <base href="http://localhost/Website/"></base>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>
        Website cây cảnh
    </title>
    <link rel="icon" type="image/x-icon" href="public/images/cart2.png">
    <link href="public/css/bootstrap.css" rel="stylesheet">
    <link href="public/css/font-awesome.css" rel="stylesheet">
    <link href="public/css/lte.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="public/css/owl.carousel.min.css" rel="stylesheet">
    <link href="public/css/AdminLTE.css" rel="stylesheet">
    <link rel="stylesheet" href="public/css/style-jc.css">
    <link href="public/css/menu-tab.css" rel="stylesheet">
    <link href="public/css/style.css" rel="stylesheet">
    <link href="public/css/jquery.bxslider.css" rel="stylesheet">
    <link href="public/css/flexslider.css" rel="stylesheet">



    <script src="public/js/jquery-2.2.3.min.js"></script>
</head>

<body>
    <div class='thetop'></div>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- TOPBAR -->

    <section id="header" ">
	<nav class="navbar " style="z-index: 9999 ">
		<div class="container ">
			<div class="col-md-12 col-lg-12 ">
				<div class="navbar-header ">
					<button type="button " class="navbar-toggle collapsed pull-right " data-toggle="collapse " data-target="#navbar " aria-expanded="false " aria-controls="navbar ">
						<span class="icon-bar "></span>
						<span class="icon-bar "></span>
						<span class="icon-bar "></span>
					</button>
					<div class="icon-cart-mobile hidden-md hidden-lg ">
						<a href="gio-hang ">
							<i class="fa fa-shopping-cart " aria-hidden="true " style="color: #0f9ed8; font-size: 17px; "></i>
							<span>(0)</span>
                        </a>
                    </div>
                </div>
                <div id="navbar " class="collapse navbar-collapse ">
                	<ul class="nav navbar navbar-nav " id="nav1 ">
                		<li><a href="/ ">Trang chủ</a></li>
                		<li><a href="san-pham/1 ">Sản phẩm</a></li>
                		<li><a href="tin-tuc/1 ">Tin tức</a></li>
                		<!-- <li><a href="gioi-thieu ">Giới thiệu</a></li> -->
                		<li><a href="lien-he ">Liên hệ</a></li>
                		<li><a href="thong-tin-tai-khoan ">Tài khoản</a></li>
                		<li><a href='dang-ky'>Đăng ký</a></li><li><a href='dang-nhap'>Đăng nhập</a></li>                	</ul>
                	<ul class="nav navbar navbar-nav pull-right " id="nav2 ">
                		<li><a href='dang-ky'>Đăng ký</a></li><li><a href='dang-nhap'>Đăng nhập</a></li>                	</ul>
                </div>
            </div>
        </div>
    </nav>
</section>        <!-- HEADER LOGO + SEARCH -->
        <section class="logo-search ">
  <div class="container ">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 logo ">
      <a href="http://localhost/Website/ "><img src="http://localhost/Website/public/images/logo1.png " alt="Logo Construction "></a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 search ">
      <div class="contact-row ">
        <div class="phone inline ">
          <i class="icon fa fa-phone "></i> 0123456789
        </div>
        <div class="contact inline ">
          <i class="icon fa fa-envelope "></i>  shopcaycanh@gmail.com
        </div>
      </div>
      <form action="search " method="get " role="form ">
        <div class="input-search ">
          <input type="text " class="form-control " id="search_text " name="search " placeholder="Nhập từ khóa để tìm kiếm... ">
          <button>
             <!--  <ul class="search-quick ">
                <li>
                  <a href=" ">
                    <img src="https://cdn.tgdd.vn/Products/Images/42/196963/samsung-galaxy-a50-black-16-200x200.jpg ">
                    <h3>Samsung Galaxy A50 64GB</h3>
                    <span class="price ">6.990.000₫</span>
                    <cite style="font-style: normal; text-decoration: line-through "></cite>
                  </a>
                </li>
              </ul> -->
              <i class="fa fa-search "></i>
            </button>
          </div>
        </form>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 hidden-xs " style="padding: 24px; ">
       <!-- Cart -->
       <div class="cart_header ">
        <a href="gio-hang " title="Giỏ hàng ">
         <span class="cart_header_icon ">
          <img src="http://localhost/Website/public/images/cart2.png " alt="Cart ">
        </span>
        <span class="box_text ">
          <strong class="cart_header_count ">Giỏ hàng <span>(0)</span></strong>
          <span class="cart_price ">
                            <p>0 VNĐ</p>
                          </span>
          </span>
        </a>
        <div class="cart_clone_box ">
          <div class="cart_box_wrap hidden ">
           <div class="cart_item original clearfix ">
            <div class="cart_item_image ">
            </div>
            <div class="cart_item_info ">
             <p class="cart_item_title "><a href=" " title=" "></a></p>
             <span class="cart_item_quantity "></span>
             <span class="cart_item_price "></span>
             <span class="remove "></span>
           </div>
         </div>
       </div>
     </div>
   </div>
   <!-- End Cart -->
   <!-- Account -->
   <div class="user_login ">
     <a href="thong-tin-khach-hang " title="Tài khoản ">
      <div class="user_login_icon ">
       <img src="http://localhost/Website/public/images/user.png " alt="Cart ">
     </div>
     <div class="box_text ">
       <strong>Tài khoản</strong>
       <!--<span class="cart_price ">Đăng nhập, đăng ký</span>-->
     </div>
   </a>
 </div>
</div>
</div>
</section>
<!-- <script>
  $(document).ready(function(){

   load_data();
   var strurl="http://localhost/Website/ "+'/search/quick';
   function load_data(query)
   {
    $.ajax({
      url: strurl,
      method:"POST ",
      data:{query:query},
      success:function(data){
        if(data){
          $('#result').html(data);
        }else{
          $('#result').html(data);
        }
      }
    })
  }

  $('#search_text').keyup(function(){
    var search = $(this).val();
    if(search != '')
    {
     load_data(search);
   }
   else
   {
     load_data();
   }
 });
});
</script> -->        <!-- 
<div class="widget " style="margin: 0px; min-height: 0px; ">
    <p>Danh mục sản phẩm</p>
</div>

<ul class="main-ul "><li><a href='san-pham/cay-canh-ngoai-that ' title=' Cây cảnh ngoại thất'>Cây cảnh ngoại thất<i class="fa fa-angle-right pull-right " aria-hidden="true "></i></a><ul class="sub
        "><li><a href='san-pham/cay-canh-nghe-thuat ' title=' Cây cảnh nghệ thuật '> Cây cảnh nghệ thuật</a></li><li><a href='san-pham/cay-canh-vuon ' title=' Cây cảnh vườn '> Cây cảnh vườn</a></li></ul></li><li><a href='san-pham/cay-canh-noi-that ' title=' Cây cảnh nội thất'>Cây cảnh nội thất<i class="fa fa-angle-right pull-right " aria-hidden="true "></i></a><ul class="sub "><li><a href='san-pham/ua-chuong-trong-nha ' title=' Ưa chuộng trong nhà '> Ưa chuộng trong nhà</a></li><li><a href='san-pham/cay-canh-de-ban ' title=' Cây cảnh để bàn '> Cây cảnh để bàn</a></li><li><a href='san-pham/cay-canh-van-phong ' title=' Cây cảnh văn phòng '> Cây cảnh văn phòng</a></li></ul></li><li><a href='san-pham/cay-giong ' title=' Cây giống'>Cây giống</i></a></li></ul>   -->
        <section id="menu-slider ">
            <div class="menu-pri ">
    <div class="container ">
        <div class="panel-left " style="background: #0f9ed8; ">
            <!--MOBILE-->
            <nav class="navbar navbar-default hidden-md hidden-lg " role="navigation ">
                <div class="container-fluid " style="background-color: #0f9ed8; ">
                    <div class="navbar-header ">
                        <button type="button " class="navbar-toggle " data-toggle="collapse " data-target=".navbar-ex1-collapse ">
                            <span class="icon-bar "></span>
                            <span class="icon-bar primary-color "></span>
                            <span class="icon-bar primary-color "></span>
                            <span class="icon-bar primary-color "></span>
                        </button>
                        <a class="navbar-brand " style="color: #fff; " href="# ">Danh mục sản phẩm</a>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse hidden-md hidden-lg ">

                        <ul class="nav navbar-nav "><li class="dropdown "><a href='san-pham/cay-canh-ngoai-that' class='dropdown-toggle' data-toggle='dropdown'>Cây cảnh ngoại thất<i class="fa fa-angle-right pull-right " aria-hidden="true
        "></i></a><ul class="dropdown-menu "><li><a href='san-pham/cay-canh-nghe-thuat'> Cây cảnh nghệ thuật</a></li><li><a href='san-pham/cay-canh-vuon'> Cây cảnh vườn</a></li></ul></li><li class="dropdown
        "><a href='san-pham/cay-canh-noi-that' class='dropdown-toggle' data-toggle='dropdown'>Cây cảnh nội thất<i class="fa fa-angle-right pull-right " aria-hidden="true "></i></a><ul class="dropdown-menu
        "><li><a href='san-pham/ua-chuong-trong-nha'> Ưa chuộng trong nhà</a></li><li><a href='san-pham/cay-canh-de-ban'> Cây cảnh để bàn</a></li><li><a href='san-pham/cay-canh-van-phong'> Cây cảnh văn phòng</a></li></ul></li><li class="dropdown "><a href='san-pham/cay-giong' class='dropdown-toggle' data-toggle='dropdown'>Cây giống</a></li></ul>  
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
            <!--MD LG-->
        </div>
        <div class="col-md-12 col-lg-12 panel-right hidden-xs text-center " style="background: #0f9ed8; ">
            <ul class="menu-right " style="display: inline-block; ">
                <li class="pull-left "><a href=" ">Trang chủ</a></li>
                <li class="pull-left "><a href="san-pham ">Sản phẩm</a></li>
                <li class="pull-left "><a href='san-pham/cay-canh-ngoai-that '>Cây cảnh ngoại thất</a></li><li class="pull-left "><a href='san-pham/cay-canh-noi-that '>Cây cảnh nội thất</a></li><li class="pull-left
        "><a href='san-pham/cay-giong '>Cây giống</a></li>                <li class="pull-left "><a href="tin-tuc/1 ">Tin tức</a></li>
                <!-- <li class="pull-left "><a href="gioi-thieu ">Giới thiệu</a></li> -->
                <li class="pull-left "><a href="lien-he ">Liên hệ</a></li>
            </ul>
        </div>
    </div>
</div>
        </section>
        <!--CONTENT-->
        <section id="product-all " class="collection ">
	<div class="banner-product ">
		<div class="container ">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
				<img src="https://vuoncayviet.com/data/aditems/93/vuon-cay-viet-banner-new.jpg ">
			</div>
		</div>
	</div>
	<div class="slider ">
		<div class="container ">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 list-menu pull-left ">
                    
<div class="widget " style="margin: 0px; min-height: 0px; ">
    <p>Danh mục sản phẩm</p>
</div>

<ul class="main-ul "><li><a href='san-pham/cay-canh-ngoai-that ' title=' Cây cảnh ngoại thất'>Cây cảnh ngoại thất<i class="fa fa-angle-right pull-right " aria-hidden="true "></i></a><ul class="sub
        "><li><a href='san-pham/cay-canh-nghe-thuat ' title=' Cây cảnh nghệ thuật '> Cây cảnh nghệ thuật</a></li><li><a href='san-pham/cay-canh-vuon ' title=' Cây cảnh vườn '> Cây cảnh vườn</a></li></ul></li><li><a href='san-pham/cay-canh-noi-that ' title=' Cây cảnh nội thất'>Cây cảnh nội thất<i class="fa fa-angle-right pull-right " aria-hidden="true "></i></a><ul class="sub "><li><a href='san-pham/ua-chuong-trong-nha ' title=' Ưa chuộng trong nhà '> Ưa chuộng trong nhà</a></li><li><a href='san-pham/cay-canh-de-ban ' title=' Cây cảnh để bàn '> Cây cảnh để bàn</a></li><li><a href='san-pham/cay-canh-van-phong ' title=' Cây cảnh văn phòng '> Cây cảnh văn phòng</a></li></ul></li><li><a href='san-pham/cay-giong ' title=' Cây giống'>Cây giống</i></a></li></ul>                  </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 products-sale-off ">
    <div class="widget ">
        <p>Sản phẩm khuyến mãi</p>
        <div class="panel-left-body ">
            <div id="post-list-footer " class="sidebar_menu
        "><div class = 'spost clearfix'><div class='entry-image'><a href=cay-lan-hat-dua title=' Cây Lan Hạt Dưa'><img src='public/images/products/5cec8fa477c2a25b241ab797e9c3d58b.jpg#2fc3a4b21eaded393f5db352ba89190a.jpg'></a></div><div class="entry-c " style="width:194px; "><div class="entry-title "><a class='ws-nw overflow ellipsis' href=cay-lan-hat-dua title=' Cây Lan Hạt Dưa'>Cây Lan Hạt Dưa</a></div><ul class="entry-meta "><li class="color
        "><ins>200,000₫</ins><del>250,000₫</del></li></ul></div></div><div class = 'spost clearfix'><div class='entry-image'><a href=cay-song-doi-la-bong title=' Cây Sống Đời (Lá Bỏng)'><img src='public/images/products/c388bf5bde3918cbf5de53623c26e1b7.jpg#28089de2556a2bbb19e95bb9e7cac945.jpg'></a></div><div class="entry-c " style="width:194px; "><div class="entry-title "><a class='ws-nw overflow ellipsis' href=cay-song-doi-la-bong title=' Cây Sống Đời (Lá Bỏng)'>Cây Sống Đời (Lá Bỏng)</a></div><ul class="entry-meta "><li class="color
        "><ins>170,000₫</ins><del>300,000₫</del></li></ul></div></div><div class = 'spost clearfix'><div class='entry-image'><a href=cay-truong-sinh title=' Cây Trường Sinh'><img src='public/images/products/d2b15c69f28fbf7a6dd37197af300ff4.jpg#73bf2fc09149834b79751b7098208f0a.jpg'></a></div><div class="entry-c " style="width:194px; "><div class="entry-title "><a class='ws-nw overflow ellipsis' href=cay-truong-sinh title=' Cây Trường Sinh'>Cây Trường Sinh</a></div><ul class="entry-meta "><li class="color "><ins>180,000₫</ins><del>200,000₫</del></li></ul></div></div></div>        </div>
    </div>
</div>            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 product-content ">
             <div class="product-wrap ">
               <div class="collection__title ">
                   <h1><span>Tất cả sản phẩm</span></h1>
                   <div id="sort-by " class="hidden-xs ">
                      <label class="left hidden-xs " for="sort-select ">Sắp xếp theo: </label>
                      <form class="form-inline form-viewpro ">
                        <div class="form-group ">
                            <select id ="sortControl " class = "sort-by form-control input-sm " onchange="sortby(this.value) "><option value="number_buy-desc ">Bán chạy nhất</option><option value="name-asc ">A → Z</option><option value="name-desc
        ">Z → A</option><option value="price-asc ">Giá tăng dần</option><option value="price-desc ">Giá giảm dần</option><option value="created-desc ">Hàng mới nhất</option><option value="created-desc ">Hàng cũ nhất</option></select>                        </div>
                    </form>
                </div>
                <div class="collection-filter " id = "list-product ">
                  <div class="category-products clearfix ">
                     <div class="products-grid clearfix ">
                                                                                            <div class="col-md-3 col-lg-3 col-xs-6 col-6 ">
                                        <div class="product-lt ">
                                            <div class="lt-product-group-image ">
                                                <a href="cay-lan-hat-dua " title="Cây Lan Hạt Dưa " >
                                                    <img class="img-p "src="public/images/products/04b35242e76c59058016fdafd371b72f.jpg " alt=" ">
                                                </a>

                                                                                                    <div class="giam-percent ">
                                                        <span class="text-giam-percent ">Giảm 20%</span>
                                                    </div>
                                                                                            </div>

                                            <div class="lt-product-group-info ">
                                                <a href="cay-lan-hat-dua " title="Cây Lan Hạt Dưa ">
                                                    <h3>Cây Lan Hạt Dưa</h3>
                                                </a>
                                                <div class="price-box ">
                                                    
                                                        <p class="old-price ">
                                                            <span class="price ">250,000₫</span>
                                                        </p>
                                                        <p class="special-price ">
                                                            <span class="price ">200,000₫</span>
                                                        </p>
                                                                                                        </div>
                                                <div class="clear "></div>
                                            </div>
                                        </div>
                                    </div>
                                                                    <div class="col-md-3 col-lg-3 col-xs-6 col-6 ">
                                        <div class="product-lt ">
                                            <div class="lt-product-group-image ">
                                                <a href="cay-song-doi-la-bong " title="Cây Sống Đời (Lá Bỏng) " >
                                                    <img class="img-p "src="public/images/products/17c571a8bfd7c932fe3995ae19fd50f6.jpg " alt=" ">
                                                </a>

                                                                                                    <div class="giam-percent ">
                                                        <span class="text-giam-percent ">Giảm 10%</span>
                                                    </div>
                                                                                            </div>

                                            <div class="lt-product-group-info ">
                                                <a href="cay-song-doi-la-bong " title="Cây Sống Đời (Lá Bỏng) ">
                                                    <h3>Cây Sống Đời (Lá Bỏng)</h3>
                                                </a>
                                                <div class="price-box ">
                                                    
                                                        <p class="old-price ">
                                                            <span class="price ">300,000₫</span>
                                                        </p>
                                                        <p class="special-price ">
                                                            <span class="price ">170,000₫</span>
                                                        </p>
                                                                                                        </div>
                                                <div class="clear "></div>
                                            </div>
                                        </div>
                                    </div>
                                                                    <div class="col-md-3 col-lg-3 col-xs-6 col-6 ">
                                        <div class="product-lt ">
                                            <div class="lt-product-group-image ">
                                                <a href="cay-truong-sinh " title="Cây Trường Sinh " >
                                                    <img class="img-p "src="public/images/products/24835a1478d9438960a46492ab77ea45.jpg " alt=" ">
                                                </a>

                                                                                                    <div class="giam-percent ">
                                                        <span class="text-giam-percent ">Giảm 10%</span>
                                                    </div>
                                                                                            </div>

                                            <div class="lt-product-group-info ">
                                                <a href="cay-truong-sinh " title="Cây Trường Sinh ">
                                                    <h3>Cây Trường Sinh</h3>
                                                </a>
                                                <div class="price-box ">
                                                    
                                                        <p class="old-price ">
                                                            <span class="price ">200,000₫</span>
                                                        </p>
                                                        <p class="special-price ">
                                                            <span class="price ">180,000₫</span>
                                                        </p>
                                                                                                        </div>
                                                <div class="clear "></div>
                                            </div>
                                        </div>
                                    </div>
                                                                    <div class="col-md-3 col-lg-3 col-xs-6 col-6 ">
                                        <div class="product-lt ">
                                            <div class="lt-product-group-image ">
                                                <a href="cay-sung-my " title="Cây Sung Mỹ " >
                                                    <img class="img-p "src="public/images/products/8ebaaca93a417421f706aee593203ea1.jpg " alt=" ">
                                                </a>

                                                                                            </div>

                                            <div class="lt-product-group-info ">
                                                <a href="cay-sung-my " title="Cây Sung Mỹ ">
                                                    <h3>Cây Sung Mỹ</h3>
                                                </a>
                                                <div class="price-box ">
                                                                                                               <p class="old-price ">
                                                            <span class="price " style="color: #fff ">250,000₫</span>
                                                        </p>
                                                        <p class="special-price ">
                                                            <span class="price ">250,000₫</span>
                                                        </p>
                                                                                                    </div>
                                                <div class="clear "></div>
                                            </div>
                                        </div>
                                    </div>
                                                                    <div class="col-md-3 col-lg-3 col-xs-6 col-6 ">
                                        <div class="product-lt ">
                                            <div class="lt-product-group-image ">
                                                <a href="cay-tung-son " title="Cây Tùng Sơn " >
                                                    <img class="img-p "src="public/images/products/5c7256c9af65cf89fc28d6f71b936c59.jpg " alt=" ">
                                                </a>

                                                                                            </div>

                                            <div class="lt-product-group-info ">
                                                <a href="cay-tung-son " title="Cây Tùng Sơn ">
                                                    <h3>Cây Tùng Sơn</h3>
                                                </a>
                                                <div class="price-box ">
                                                                                                               <p class="old-price ">
                                                            <span class="price " style="color: #fff ">190,000₫</span>
                                                        </p>
                                                        <p class="special-price ">
                                                            <span class="price ">190,000₫</span>
                                                        </p>
                                                                                                    </div>
                                                <div class="clear "></div>
                                            </div>
                                        </div>
                                    </div>
                                                                    <div class="col-md-3 col-lg-3 col-xs-6 col-6 ">
                                        <div class="product-lt ">
                                            <div class="lt-product-group-image ">
                                                <a href="hoa-lan-ho-diep " title="Hoa Lan Hồ Điệp " >
                                                    <img class="img-p "src="public/images/products/95c89a3e88b3f3a8af2c1b6016a34670.jpg " alt=" ">
                                                </a>

                                                                                            </div>

                                            <div class="lt-product-group-info ">
                                                <a href="hoa-lan-ho-diep " title="Hoa Lan Hồ Điệp ">
                                                    <h3>Hoa Lan Hồ Điệp</h3>
                                                </a>
                                                <div class="price-box ">
                                                                                                               <p class="old-price ">
                                                            <span class="price " style="color: #fff ">900,000₫</span>
                                                        </p>
                                                        <p class="special-price ">
                                                            <span class="price ">900,000₫</span>
                                                        </p>
                                                                                                    </div>
                                                <div class="clear "></div>
                                            </div>
                                        </div>
                                    </div>
                                                                    <div class="col-md-3 col-lg-3 col-xs-6 col-6 ">
                                        <div class="product-lt ">
                                            <div class="lt-product-group-image ">
                                                <a href="cay-loc-vung-giong " title="Cây lộc vừng giống " >
                                                    <img class="img-p "src="public/images/products/b316c7ef1d55fc4f3d1174eff94cabf1.jpg " alt=" ">
                                                </a>

                                                                                            </div>

                                            <div class="lt-product-group-info ">
                                                <a href="cay-loc-vung-giong " title="Cây lộc vừng giống ">
                                                    <h3>Cây lộc vừng giống</h3>
                                                </a>
                                                <div class="price-box ">
                                                                                                               <p class="old-price ">
                                                            <span class="price " style="color: #fff ">90,000₫</span>
                                                        </p>
                                                        <p class="special-price ">
                                                            <span class="price ">90,000₫</span>
                                                        </p>
                                                                                                    </div>
                                                <div class="clear "></div>
                                            </div>
                                        </div>
                                    </div>
                                                                    <div class="col-md-3 col-lg-3 col-xs-6 col-6 ">
                                        <div class="product-lt ">
                                            <div class="lt-product-group-image ">
                                                <a href="cay-sala-giong " title="Cây Sala giống " >
                                                    <img class="img-p "src="public/images/products/f4efbfffc455b4295783f9b9224a35bd.jpg " alt=" ">
                                                </a>

                                                                                            </div>

                                            <div class="lt-product-group-info ">
                                                <a href="cay-sala-giong " title="Cây Sala giống ">
                                                    <h3>Cây Sala giống</h3>
                                                </a>
                                                <div class="price-box ">
                                                                                                               <p class="old-price ">
                                                            <span class="price " style="color: #fff ">50,000₫</span>
                                                        </p>
                                                        <p class="special-price ">
                                                            <span class="price ">50,000₫</span>
                                                        </p>
                                                                                                    </div>
                                                <div class="clear "></div>
                                            </div>
                                        </div>
                                    </div>
                                                            </div>

                            <div class = "text-center pull-right ">
                                <ul class ="pagination ">
                                                                    </ul>
                            </div>
                                            </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
<script type="text/javascript ">
    function sortby(option){
        var strurl="http://localhost/Website/ "+'/sanpham/index';
        jQuery.ajax({
            url: strurl,
            type: 'POST',
            dataType: 'json',
            data: {'sapxep': option},
            success: function(data) {
                $('#list-product').html(data);
            }
        });
    }
</script>
        <!--FOOTER-->
        <footer id="footer ">
    <div class="news-social ">
        <div class="container ">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                <ul class="list-unstyled social pull-right ">
                  <li><a href="# "><i class="fab fa-facebook-f "></i></a></li>
                  <li><a href="# "><i class="fab fa-twitter "></i></a></li>
                  <li><a href="# "><i class="fab fa-google-plus-g "></i></a></li>
                  <li><a href="# "><i class="fab fa-youtube "></i></a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="top-footer ">
    <div class="container ">
        <div class="col-xs-12 col-sm-12 col-md-6 ">
            <div class="col-xs-12 col-sm-6 ">
                <a href="trang-chu ">
                    <img src="public/images/logo1.png " style="width: 100%; " class="img-fix f-logo " alt="smart-construction ">
                </a>
                <div class="about-store ">
                 Web cây cảnh. Chất lượng - giá cả hợp lý
             </div>
         </div>
         <div class="col-xs-12 col-sm-6 ">
            <div class="f-contact ">
                <h3>Thông tin liên hệ</h3>
                <ul class="list-unstyled ">
                    <li class="clearfix ">
                        <i class="fa fa-map-marker "></i>
                        <span>Website cây cảnh - chuyên cung cấp, bán cây cảnh</span>
                    </li>
                    <li class="clearfix ">
                        <i class="fa fa-phone "></i>
                        <span>0123456789 - 0123456789</span>
                    </li>
                    <li class="clearfix ">
                        <i class="fa fa-envelope "></i>
                        <span><a href="# "> shopcaycanh@gmail.com</a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 ">
        <div class="col-xs-12 col-sm-6 ">
            <h3 class="footer-title ">HỖ TRỢ KHÁCH HÀNG</h3>
            <ul class="list-unstyled linklists ">
                <li><a href="chinh-sach ">Hướng dẫn thanh toán</a></li>          
                <li><a href="chinh-sach ">Hướng dẫn đặt hàng</a></li>
                <li><a href="dieu-khoan ">Điều khoản</a></li>                   
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 ">
           <!-- <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=200&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=false&appId
        " width="340 " height="200 " style="border:none;overflow:hidden " scrolling="no " frameborder="0 " allowTransparency="true " allow="encrypted-media "></iframe> -->
       </div>
   </div>
</div>
</div>
</footer>        <script src="public/js/bootstrap.js "></script>
        <script src="public/js/app.min.js "></script>
        <script src="public/js/owl.carousel.js "></script>
        <script src="public/js/jquery.jcarousel.js "></script>
        <script src="public/js/jcarousel.connected-carousels.js "></script>
        <script src="public/js/scroll.js "></script>
        <script src="public/js/search-quick.js "></script>
        <script src="public/js/custom-owl.js "></script>
        <script src="public/js/jquery.flexslider.js "></script>
        <div class='scrolltop'>
        <div class='scroll icon'><i class="fa fa-4x fa-angle-up "></i></div>
        </div>
    </body>
</html>